.BreakLengthInput {
  padding: 10px;
  margin: 5px;
}

.BreakLengthInput-title {
  text-transform: capitalize;
}

.BreakLengthInput-controls {
  display: flex;
  justify-content: center;
  align-items: center;
}

.BreakLengthInput-value {
  font-size: 25px;
}

.BreakLengthInput-increment, .BreakLengthInput-decrement {
  padding: 5px 15px;
  margin: 5px 10px;
  font-size: 22px;
  border: 1px solid black;
}
